.pf1e-party-sheet .invisible {
	border: none;
	background: none;
}

.pf1e-party-sheet .sheet-profile-img {
	text-align: center;
}

.pf1e-party-sheet section.sheet-sidebar.sidebar {
	flex: 0 0 180px;
	border-right: 2px groove #eeede0;
}

.pf1e-party-sheet img.sheet-profile {
	border: none;
	max-width: 160px;
	max-height: 160px;
}

.pf1e-party-sheet .warning {
	color: darkred;
}

.pf1e-party-sheet .flexcol.tab.active.biography, .pf1e-party-sheet .flexcol.tab.active.actor-notes {
	height: 100vw;
}

.pf1e-party-sheet .flexcol.tab.active.biography .primary-content, .pf1e-party-sheet .flexcol.tab.active.actor-notes .primary-content {
	height: 100vw;
}

.pf1e-party-sheet .party-sheet-table .form-header {
	font-size: large;
}