.pf1.sheet.actor.npc-sheet.pf1e-party-sheet {
	min-height: 300px;
	min-width: 680px;
}

.pf1e-party-sheet .invisible {
	border: none;
	background: none;
}

.pf1e-party-sheet .sheet-profile-img {
	text-align: center;
}

.pf1e-party-sheet section.sheet-sidebar.sidebar {
	flex: 0 0 180px;
	border-right: 2px groove #eeede0;
}

.pf1e-party-sheet img.sheet-profile {
	border: none;
	max-width: 160px;
	max-height: 160px;
}

.pf1e-party-sheet .warning {
	color: darkred;
}

.pf1e-party-sheet .flexcol.tab.active.biography, .pf1e-party-sheet .flexcol.tab.active.actor-notes {
	height: 100vw;
}

.pf1e-party-sheet .flexcol.tab.active.biography .primary-content, .pf1e-party-sheet .flexcol.tab.active.actor-notes .primary-content {
	height: 100vw;
}

.pf1e-party-sheet .party-sheet-table .form-header {
	font-size: large;
}

.pf1e-party-sheet .party-sheet-table td:hover {
	background-color: rgba(0,0,0,0.1);
}

.pf1e-party-sheet .party-sheet-table .colLeft{
	text-align: left;
	padding-left: 4px;
}

.pf1e-party-sheet .party-sheet-table .colSmall{
	width: 40px;
}

.pf1e-party-sheet .party-sheet-table .colMed{
	width: 80px;
}

.pf1e-party-sheet .party-sheet-table .colGroupLeft{
	border-right: none;
}

.pf1e-party-sheet .party-sheet-table .colGroupRight{
	border-left: none;
}

.pf1e-party-sheet .party-sheet-table .colGroupCenter{
	border-left: none;
	border-right: none;
}

.pf1e-party-sheet .party-sheet-table .inputColSmall{
	width: calc(100% - 4px);
	margin-left: 4px;
	background: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	text-align: center;
}

.pf1e-party-sheet .party-sheet-table .hover:hover {
	background-color: rgba(0,0,0,0.1);
}

.pf1e-party-sheet .party-sheet-roller {
	padding: 4px;
}

.pf1e-party-sheet .party-sheet-roller select {
	margin-right: 10px;
}

.pf1e-party-sheet .party-sheet-roller .roll-save-button {
	flex: 0;
}

.pf1e-party-sheet .party-sheet-roller .roll-save-button .fas.fa-thin.fa-dice-d20 {
	font-size: x-large;
}

.pf1e-party-sheet .party-sheet-roller .roll-save-button .fas.fa-thin.fa-dice-d20:hover {
	color: darkred;
}

.pf1e-party-sheet .party-sheet-roller .roll-skill-button {
	flex: 0;
	margin-right: 8px;
}

.pf1e-party-sheet .party-sheet-roller .roll-skill-button .fas.fa-thin.fa-dice-d20 {
	font-size: x-large;
}

.pf1e-party-sheet .party-sheet-roller .roll-skill-button .fas.fa-thin.fa-dice-d20:hover {
	color: darkred;
}