.flexcolumn {
	display: flex;
	flex-flow: column;
}

.sheet-profile-img {
	text-align: center;
}

.sheet-sidebar {
	flex: 0 1 220px;
	border-right: 2px groove #eeede0;
}

img.sheet-profile {
	border: none;
	max-width: 220px;
	max-height: 220px;
}

.warning {
	color: darkred;
}